# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Terraform variables
*.tfvars
*.auto.tfvars

# AWS Credentials
.aws/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
